.line-graph{
  
  .graph-container{
    position: relative;
    width: 100%;
    height: 400px;
    background-color: transparent;
    padding: 2rem 0;
    z-index: auto;
  
    &--fullscreen {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: #fff;
      z-index: 1000;
      padding: 2rem;
    }

    .toolbar {
      display: flex;
      justify-content: space-between;
      // margin: 1rem;

      &--left button, &--right button {
        margin-right: 1rem;
        height: 100%;
        vertical-align: middle;
        font-size: 1.125rem;
        color: #6F7177;
        svg{
          margin: 0 4px;
        }
        &.ant-btn.ant-btn-primary{
          background-color: #4B40EE;
          color: #FFFFFF;
        }

        &.ant-btn.ant-btn-link{
          color: #6F7177;
          &:hover{
            background-color: #4c40ee18;
          }
        }
      }
    }

    // .recharts-responsive-container .recharts-wrapper {
    //   .recharts-tooltip-wrapper{
    //     visibility: visible;
    //     top: 4px;      }
    // }
    .current-value{
      display: block;
      padding: 0.25rem 0.5rem;
      background-color: #4B40EE;
      color: #fff;
      font-size: 1.5rem;
      position: absolute;
      border-radius: 5px;
      position: absolute;
      right: 0;
      top: 50%;
      z-index: 1100;
    }

}
}